.text-decoration-underline {
 background: rgb(11,24,83);
background: linear-gradient(298deg, rgba(11,24,83,1) 0%, rgba(30,12,96,1) 100%);

  width: 6rem;
  height: 4px;
}
/* section{
  background-color: rgba(128, 128, 128, 0.349);
} */

.card-img-top {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 10px;
}
.footer {
  background-color: #040116;
}
.sec {
 background: rgb(11,24,83);
background: linear-gradient(298deg, rgba(11,24,83,1) 0%, rgba(30,12,96,1) 100%);

}
.navbar {
 background: rgb(11,24,83);
background: linear-gradient(298deg, rgba(11,24,83,1) 0%, rgba(30,12,96,1) 100%);

}

.logo {
  border-radius: 50%;
  /* background-color: rgb(255, 255, 255);
   */
   margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
    .br {
      display: block;
      content: "";
      
    }
  }
  .swiper-container {
  cursor: grab;
}

.elementor-testimonial__name {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.elementor-testimonial__title {
  display: block;
  font-size: 14px;
}

@media only screen and (max-width: 2000px) {
    .br {
      /* display: none; */
      content: "";
      
    }
  }
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&family=Secular+One&family=Varela&display=swap');
.nav-item1 {
  color: white !important;
  font-family: "Roboto", serif !important;
  /* font-size: 1rem; */
  /* font-weight: bold; */
  font-size: 16px;
}
/* .card{
  background-color: rgb(220, 226, 214);
} */
.testBtn {
  background-color: rgb(168, 31, 13);
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font2);
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  animation: glowing 1300ms infinite;
}
@keyframes glowing {
  0% {
    background-color: rgb(4, 0, 255);
    box-shadow: 0 0 3px rgb(0, 26, 255);
  }
  50% {
    background-color: #001aff;
    box-shadow: 0 0 15px #1b07ccfb;
  }
  100% {
    background-color: rgb(25, 0, 250);
    box-shadow: 0 0 3px rgb(38, 0, 253);
  }
}
.WhatsAppGlow{
  animation: whatsApp 1300ms infinite;
border-radius: 60px;
padding: 10px;

}
@keyframes whatsApp {
  0% {
    color: rgb(0, 255, 42);
    box-shadow: 0 0 3px rgb(0, 255, 0);
  }
  50% {
    color: #15ff00;
    box-shadow: 0 0 15px #07cc07fb;
  }
  100% {
    color: rgb(8, 250, 0);
    box-shadow: 0 0 3px rgb(0, 253, 34);
  }
}
.testPara {
  font-family: var(--font3);
  font-size: 1.15rem;
  font-weight: bolder;
  text-shadow: rgba(207, 166, 166, 0.342) 2px 2px;
  color: black;
}
.testHead {
  text-align: center;
}
.hover:hover {
  background-color: #14151d62;
  color: white;
  border-radius: 30px;
  /* padding: 5px; */
}
.underline {
  text-decoration: none;
}
.footerlogo {
  width: 150px;
  border-radius: 50%;
}
.faqimg {
  width: 25rem;
  display: block;
  margin: auto;
}
.testimg {
  width: 20rem;
  /* display: block; */
  /* margin: auto; */
}
.search_input {
  border: 2px solid rgb(32, 32, 165);
  padding: 5px;
  text-align: center;
  border-radius: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.news {
  width: 25rem;
  display: block;
  margin: auto;
  /* height: 12rem; 
  */
  border-radius: 100px;
  margin-top: -10px;
}
.pastpprlink {
  text-decoration: none;
  /* color: white; */
  font-weight: bolder;
  color: black;
  list-style: none;
}
.pastpprlink:hover {
  color: black;
}

/* .PastGrid{
  

} */
.a {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.b {
  width: 33.3333%;
}
.cardPast {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2),
    0 6px 20px 0 rgba(0, 0, 255, 0.19);
}
.shade {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2),
    0 6px 20px 0 rgba(0, 0, 255, 0.19);
  text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.2);
}
.card-imagePast {
  perspective: 1000px;
  transform-style: preserve-3d;
  margin: auto;
}

.card-imagePast:hover img {
  transform: rotateY(360deg);
}

img {
  backface-visibility: hidden;
  transition: transform 0.5s;
}
.cardPast {
  transition: transform 0.5s;
}
.cardPast:hover {
  transform: scale(1.08);
}
.collapse {
  overflow: hidden;
}
.deptimg {
  margin: 10px;
  margin-left: 15px;
  height: 230px;

  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.2s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif !important;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
p {
  font-family: "Poppins", sans-serif !important;
  color: black !important;
  font-size: 1rem !important;

  font-size: 1.001rem;
}
.sidebar{
  background-color: rgb(255, 255, 255) !important;
  margin: 0px !important;
}
section{
  font-family: "Roboto", sans-serif !important;
  color: black !important;
  font-size: 1rem !important;

  font-size: 1.001rem;
}
.testitem {
  font-family: "Roboto", sans-serif !important;
}
.hashim {
  margin: auto;
}
a {
  font-family: "Roboto", sans-serif !important;
  font-size: 14.5px;
}
@media (max-width: 768px) {
  .h1seo{
    font-size: 28px !important;
  }
  
}
@media (max-width: 949px) {
  .CenterDeptImg{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
}

.navbar {
  box-shadow: 0 4px 4px rgba(7, 7, 7, 0.425);
}

.toggler-icon {
  font-size: 1.2rem;
  padding: 5px;
  border: 2px solid white;
  border-radius: 4px;
  /* color: black !important; */
}
.hashim1 {
 background: rgb(11,24,83);
background: linear-gradient(298deg, rgba(11,24,83,1) 0%, rgba(30,12,96,1) 100%);

}
.hashimpara {
  color: white !important;
}
body {
  background-color: rgb(255, 255, 255) !important;
}

.container1 {
  display: flex;
  justify-content: space-between; /* center and add equal space between items */
  align-items: center;
  margin: auto;
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    justify-content: center;
  }
}
.container2 {
  margin: auto;
}
.underline {
  color: #00046c;
}
.rounded-edges {
  border-radius: 10px;
  color: black;
}
/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12089b;
  background: -moz-linear-gradient(left, #241ba0 0%, #261ada 50%, #1d1594 100%);
  background: -webkit-linear-gradient(
    left,
    #241ba0 0%,
    #261ada 50%,
    #1d1594 100%
  );
  background: linear-gradient(to right, #efeff3 0%, #dfdef1 50%, #e1dffc 100%);
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: rgb(9,0,73);
background: linear-gradient(90deg, rgba(9,0,73,1) 0%, rgba(0,4,108,1) 68%, rgba(22,0,176,1) 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(16, 16, 122);
}
body {
  /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.FB {
  outline: 5px outset #301ca4;
  outline-offset: 0px;
}

.join-group-button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.join-group-button:hover {
  transform: scale(1.08);
}
.facebook-icon {
  margin-right: 10px;
  color: #fff;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .fbcard {
    width: 340px !important;
  }
  .fbimg {
    width: 250px !important;
    height: 150px !important;
  }
  .guide {
    margin: 10px !important;
    padding: 10px !important;
  }
  .Hashim-Pic {
    padding-top: 20px !important;
  }
  .carousel-media {
    height: 270px !important;
  }
  .testitem {
    font-size: 13px !important;
  }
  .myButton {
    color: rgb(255, 255, 255);
    font-size: 10px !important;
    line-height: 10px !important;
    padding: 8px;
    border-radius: 8px !important;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(
      to right,
      rgb(44, 36, 254) 0%,
      rgb(65, 23, 203) 50%,
      rgb(35, 50, 244) 100%
    );
    box-shadow: rgba(0, 0, 0, 0.31) -1px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block !important;
  }
  .myButton:hover {
    background: #2c24fe;
  }
  .myButton:active {
    background: #2332f4;
  }
  p{
    text-align: center  !important;
  }
}

.carousel-media {
  height: 550px;
}
.myButton {
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 15px;
  padding: 13px;
  border-radius: 13px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(44, 36, 254) 0%,
    rgb(65, 23, 203) 50%,
    rgb(35, 50, 244) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.31) -1px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.myButton:hover {
  background: #2c24fe;
}
.myButton:active {
  background: #2332f4;
}
.newspic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge {
  font-size: 18px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 3px rgb(255, 0, 0);
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 15px #cc0707fb;
  }
  100% {
    background-color: rgb(250, 0, 0);
    box-shadow: 0 0 3px rgb(253, 0, 0);
  }
}
.h1seo {
  font-size: 32px;
}
@media (max-width: 1200px) {
  .nav-item1 {
    font-size: 12px;
  }
}
@media (max-width: 1005px) {
  .nav-item1 {
    font-size: 11px;
  }
}
@media (max-width: 990px) {
  .nav-item1 {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .newBadge {
    position: absolute !important;
    z-index: 1;
    left: 6% !important;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif !important;
  text-align: center !important;
}
}
@media (max-width: 350px) {
  .newBadge {
    position: absolute !important;
    z-index: 1;
    left: 9% !important;
  }
}
.newBadge {
  position: absolute !important;
  z-index: 1;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:15px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
.loaderImg{
  display: block;
  width: 150px;
  margin: auto;
}
.loaderImg {
  animation: blink 1s infinite;
  transition: opacity 1s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hoverBlog:hover{
  background-color: #9faef383;
}
.bgimage{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1137%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M942.88 202.18 a181.06 181.06 0 1 0 362.12 0 a181.06 181.06 0 1 0 -362.12 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M69.61 54.59 a105.52 105.52 0 1 0 211.04 0 a105.52 105.52 0 1 0 -211.04 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M149.23 418.7 a170.67 170.67 0 1 0 341.34 0 a170.67 170.67 0 1 0 -341.34 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1331.44 60.63 a103.61 103.61 0 1 0 207.22 0 a103.61 103.61 0 1 0 -207.22 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M39.56 241.61 a142.86 142.86 0 1 0 285.72 0 a142.86 142.86 0 1 0 -285.72 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M444.806%2c757.773C499.352%2c756.144%2c537.017%2c709.743%2c564.08%2c662.357C590.852%2c615.479%2c609.473%2c560.687%2c584.782%2c512.68C558.255%2c461.103%2c502.804%2c430.786%2c444.806%2c430.451C386.224%2c430.113%2c330.335%2c459.772%2c302.003%2c511.048C274.502%2c560.822%2c284.034%2c620.653%2c312.52%2c669.87C340.945%2c718.981%2c388.087%2c759.467%2c444.806%2c757.773' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1137'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
a{
  color: rgb(3, 0, 201);
}
li{
  color: black;
   font-family: "Poppins", sans-serif !important;
   font-size: medium;
}
.text-congrats{
  color: #ffffff !important;
  height: 150px;
}
form {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  /* margin-bottom: 5px; */
  margin-bottom: 0;
}

input[type="text"], input[type="number"], input[type="date"] {
  width: 100%;
  padding: 12px 20px; 
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: #24057a;
  color: white;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0b0144;
}